*, ::after, ::before {
    box-sizing: border-box;
}

.container {
  width: 1200px;
  margin: auto;
  display: block;

  @media (max-width:1201px) {
    width:990px;
  }

  @media (max-width:991px) {
    width:90%;
  }
}

.row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

.fullwidth {
  width: 100%
}

.d-flex  {
  display: flex;
}

[class*='col'] {
  padding-left: 15px;
  padding-right: 15px;
  display: flex;
}

.align-items-center {
  align-items: center;
}

.justify-content-end {
  justify-content: flex-end;
}

.px-0 {
  padding: 0;
}

.px-l-0 {
  padding-left: 0;
}

.px-r-0 {
  padding-right: 0;
}

@for $i from 1 through 12 {
  .col-#{$i} {
    @media (max-width:991px) {
      width: (100/ (12/$i) ) * 1% !important;
    }
  }

  .col-md-#{$i} {
    width: (100/ (12/$i) ) * 1% ;
  }
}
