.Character {

  margin-top: 10px;
  margin-bottom: 30px;
  .content {
    border-top: 5px solid $gray;
    border-left: 1px solid $gray;

    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 20px;
    @include shadow(2px 3px 5px -1px rgba(0,0,0,0.35) )
  }

  .name {
    color: $red;
    text-transform: uppercase;
  }

  .image {
    width: 100%;
    min-width: 256.5px;
    height: 180px;
    object-fit: cover;
  }

  .comics-btn,
  .details-btn {
    margin-top: 10px;
    width: 100%;
    padding:0;
    box-shadow: none;
    border: none;
    height: 30px;
    display: block;
    line-height: 40px;
    height: 40px;
    text-align: center;
    cursor: pointer;
    text-decoration: none;

    i {
      margin-right: 10px;
    }
  }

  .details-btn {
    background-color: #3c88a0;
    color:white;

    &:hover {
      background-color: #60c4e4;
    }
  }

  .comics-btn {

    background-color: #f22325;
    color: white;

    &:hover {
      background-color: #ff442f;
    }

    &:disabled {
      color: #CCCCCD;
      background-color: #f0f0f0;
    }
  }
};
