.Header {
  background-color: $gray;
  height: 80px;
  display: flex;
  justify-content: center;
  flex-direction: column;

  .logo {
    width: 80%;
    height: 25px;
    max-width: 90px;
  }

  .title {
    font-size: 18px;
    color: white;
    letter-spacing: 3px;
    margin: 0;
    padding: 0;
  }


};
